{
          "tabWidth": 6,
          "printWidth": 100,
          "singleQuote": true,
          "bracketSpacing": true,
          "bracketSameLine": true,
          "arrowParens": "avoid",
          "requirePragma": false
}
